body {
    margin: 0;
    padding: 0;
}

a {
    color: #3399AA;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

div#logo {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 150%;
    color: #FFFFFF;
}

div#logo a { color: #FFFFFF; }
div#logo a:hover { text-decoration: none; }

div#header {
    background-color: #292724;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}
.p#errorMessage { color: #FF0000; }

