body { background-color: #CFCFCF; }

#mainContent {
    width: 640px;
    margin: auto;
    border: 1px solid #C2C2C2;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-top: none;
    background-color: #FFFFFF;
}

#description {
    color: #939393;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
    font-size: 120%;
}

#date {
    margin: 0;
    background-color: #C2C2C2;
    color: #787878;
    padding-left: 5px;
    padding-right: 5px;
    float: right;

    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border: 1px solid #D8D8D8;
    color: #555555;
    font-weight: bold;
    padding: 6px 3px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}

#textBlock { padding: 15px; }

#text {
    font-size: 1em;
    line-height: 1.25em;
    margin: 1.25em 0;
    text-align: justify;
}

h1 {
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
    font-size: 220%;
}

/* EXPERIMENTAL */

table {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

tr {
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #C2C2C2;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

#backButton {
    background-color: #000000;
    background-color: red;
    color: #FFFFFF;
    padding: 10px;
    padding-right: 15px;
    display: inline-table;
}

#backButton:hover {
    background-color: #FFFFFF;
    color: #FF0000;
    text-decoration: none;
}

#backButton a:hover { text-decoration: none; }


